*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
body{
    text-align: auto;
    font-size: 18px;
    font-family: sans-serif;
    background-size:contain; 
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-top:40px;
    padding-left:10%;
    padding-right:10%;
}

form {
    display: none;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    text-align: center;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.search-button {
    background-color: #ffa31a; 
    color: #1b1b1b;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 5px; 
    cursor: pointer;
 
}
.hero5{
    height:50vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(image/board.jpeg);
    background-size: cover;
    background-position: center;
}
.hero5 h3{
    color:#fff;
    font-size: 30px;
    text-align: left;
    padding-top: 270px;
    padding-left: 50px;
}



.review {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 70%;
    height: 300px;
    float: right; 
    clear: right; 
    background-color: #f0f0f0; 
}


.review h2 {
    font-size: 30px;
    margin: 0;
    text-align: left;

}


.review img {
    max-width: 200%;
    height: 100px;
}




h1 {
    font-size: 24px;

}

form {
    text-align:center;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
select,
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Style for the black button */
.black-button {
    background-color: #ffa31a;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1400px;
    margin-left: 30px;
    margin-top: 10px;
}

/* Style for the black button on hover */
.black-button:hover {
    background-color:#000; /* Darken the color on hover */
}


.logo {
    color:#000;
    font-size:28px;
    padding-left: 1px;
}
span{
    color: #ffa31a;
}

nav ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight:bold;
}
button{
    border:none;
    background:gray;
    padding:12px 30px;
    border-radius: 30px;
    color:white;
    font-weight: bold;
    font-size:15px;
    transition: .4s;

}
button:hover{
    transform: scale(1.4l);
    cursor:pointer;
}
.search-button:hover {
    background-color: #ffa31a; 
}

p{
    color:#ffa31a;
}
header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
 }
 h1{
    color:#000;
 }

 a{
    color:#ffa31a;
    cursor:pointer;
    align-items: center;
} 
p{
    color:#ffa31a;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  .main-content {
    flex: 2;
  }
.footer {
    text-align: center;
    padding: 20px 0;
}
a{
    color:#ffa31a;
    cursor:pointer;
    align-items: center;
} 